﻿
.icon-quienes-somos:before { content: '\e800'; margin-left:-15px; } /* 'î €' */
.icon-contacto:before { content: '\e801'; } /* 'î ' */
.icon-home:before { content: '\e802'; margin-left:12px; } /* 'î ‚' */
.icon-productos:before { content: '\e803'; margin-left:15px; } /* 'î ƒ' */
.icon-twitter:before { content: '\e804'; } /* 'î „' */
.icon-facebook:before { content: '\e805'; } /* 'î …' */
.icon-multimedia:before { content: '\e806'; margin-left:12px; } /* 'î †' */
.icon-fotografia:before { content: '\e807'; } /* 'î ‡' */
.icon-video:before { content: '\e808'; } /* 'î ˆ' */