@font-face {
  font-family: 'redes';
  src: url('../font/redes.eot?5388686');
  src: url('../font/redes.eot?5388686#iefix') format('embedded-opentype'),
       url('../font/redes.woff?5388686') format('woff'),
       url('../font/redes.ttf?5388686') format('truetype'),
       url('../font/redes.svg?5388686#redes') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'redes';
    src: url('../font/redes.svg?5388686#redes') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "redes";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-servicios:before { content: '\e800'; } /* '' */
.icon-facebook:before { content: '\e801'; } /* '' */
.icon-twitter:before { content: '\e802'; } /* '' */
.icon-home-1:before { content: '\e803'; } /* '' */
.icon-quienessomos:before { content: '\e804'; } /* '' */
.icon-multimedia:before { content: '\e805'; } /* '' */
.icon-contactenos:before { content: '\e806'; } /* '' */
.icon-camera:before { content: '\e808'; } /* '' */
.icon-video:before { content: '\e809'; } /* '' */