﻿ .ginfo {
        width: 100%;
    }

    .formdatos {
      width: 90%;
      font-family: Istok Web, sans-serif;
  font-weight: 100;
  font-size: 18px;
  
         }

    .formcontrols {
        padding: 5%;
        width: 100%;
    }

    .formtitulo {
          color: black;
  font-size: 24px;
  font-weight: 200;
  margin-left: -19px;
      }

    .formsubtitulo {
        font-weight: 700;
        font-size: initial;
        margin: 15px auto;
        color: black;
    }

    .rowcontrols {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 1%;
    }

    .section-1{
        width: 15%;
        height: 30px;
        display: inline-block;
        vertical-align: middle;
        font-size: medium;
        background-color: #FFFFFF;
        color: gray;
    }

    .section-2{
        width: 15%;
        display: inline-block;
    }

    .controlscolumns1 {
        width: 100%;
        display: inline-block;
        font-size: medium;
        background-color: #FFFFFF;
        color: gray;
    }

    .controlscolumns2 {
        width: 100%;
        display: inline-block;
        vertical-align:middle;
        margin-bottom: 10px;
    }

    .buttonyellow {
        width: 25%;
        display: inline-block;
        vertical-align: middle;
    }

    .buttonblue {
        margin-left: 0 !important;
        text-align: center;
    }

    .controlnit {
        width: 70%;
        display: inline-block;
        vertical-align: middle;
    }

    .controlarchivos {
        width: 70%;
        display: inline-block;
        vertical-align: middle;
    }

    .buttonbuscar {
        color: white !important;
        background-color: #F6C835 !important;
        font-weight: bold !important;
        font-size: medium !important;
        border-radius: 5px;
        border-color: #F6C835 !important;
    }

    .fileupload {
        vertical-align: middle;
        padding: 5px !important;
        border-radius: 5px;
        width: 100% !important;
    }

    .buttonsubir {
        color: white !important;
        background-color: #F6C835 !important;
        font-weight: bold !important;
        font-size: medium !important;
        border-radius: 5px;
        border-color: #F6C835 !important;
    }

    .buttonterminar {
        color: white !important;
        background-color: #000000 !important;
        font-weight: bold !important;
        font-size: medium !important;
        margin-left: 0 !important;
        border-radius: 5px;
        border-color: #456b25 !important;
        box-shadow: 2px 2px 5px #fff;
    }

        .buttonterminar:active {
            position: relative;
            top: 1px;
        }


    .textboxes {
         Width: 100%;
  border-radius: 4px;
    min-height: 32px;
    }

    .textMultiline {
    width: 100%;
  border-radius: 4px;
  height: 114px;    }

    .textcolors {
        width: 20%;
        border-radius: 5px;
    }

    .cursiva {
    }

    .requisitos {
    }
    /* Modal!!! */
    #modalEvenExist {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        visibility: hidden;
        z-index: 999999;
        text-align: center;
        background: rgba(0,0,0,0.5);
        pointer-events: none;
        opacity: 0;
        padding: 30px;
    }

        #modalEvenExist:target {
            opacity: 1;
            display: inline-block;
            pointer-events: auto;
            visibility: visible;
            transition: 1s;
        }

    .divmodal {
        padding: 20px;
        background: white;
        border-radius: 5px;
        margin-top: 15% !important;
        margin: 0 auto;
        width: 30%;
        border-top: 30px #456b25 solid;
    }
    /* Hasta acá Modal!!! */

    /*Progress*/

    /* GridView */
    .gridview {
        width:100%;
        border-radius:20px !important;
        height:20px;
    }

    .column1 {
    width:35%;
    display:inline-block;
    vertical-align:top;
    }
     .column2 {
    width:64%;
     display:inline-block;
     vertical-align:top;
    }

    .info_contacto{
        margin-top: 10px;
  margin-left: -22px;
  font-weight: 500;
  font-size: 18px;
  color: black;
    }
    
    #lblTelefono{
	display:none
}

    .controles {
    
        width:100%;
     }

	/*---------- responsive ----------*/
	@media (max-width: 807px){
	.column1{
	display:block;
	width:100%;
}
	.column2{
	width:100%;
	margin-top:20px;
}
}

    /*Validacion*/
    /* Messages */
    .box-message { padding: 10px; position: relative; }
    .box-message .btn-close-message { display: block; position: absolute; right: 10px; top: 10px; }
    .box-error { background: #f3dede; color: #be4847; margin: 0 0 25px 0; }
    .box-success { background: #ddf1da; color: #39884c; margin: 15px 0; }
    .box-warning { background: #fcf8e4; color: #c19959; margin: 15px 0; }
    .box-information { background: #d8edf6; color: #3385b2; margin: 15px 0; }