﻿.producto{
	vertical-align:top;
}

li#smcexitos {
   display: none !important;
}

p.nom-producto {
  text-align: center;
  font-size: 13px;
}

#contenido2
{
	width:80%;
	margin:0 auto;
}

.contenedor
{
	margin:0.5%;
	display: inline-block;
	width:32%;
	vertical-align:top;
    text-align: justify;
}

.contenedor img
{
	width:100%;
	height:200px;
}

.contenedor iframe
{
	height:200px;
}

#video-multimedia
{
	width:32% !important;
}

#imagen-multimedia
{
	width:32% !important;
}

.modalDialog img{
	width:70% !important;
}

#close:visited{
	text-decoration:none !important;
	color:#fff !important;
}


#contenido
{
  margin: 0 auto;
  width: 100%;
}

/*---------- HEADER ----------*/
#logos
{
  text-align: center;
  display: block;
  margin-top: -160px;
  position: relative;
  z-index: 9999;
}
#logos_admin
{
  text-align: center;
  display: block;
  position: relative;
  z-index: 9999;
}
#logo_empresa {
  display: inline-block;
  margin-right: 20%;
  margin-bottom: 1%;
  width: 31%;
}
#alcaldia_envigado
{
	margin-bottom: 1%;
	display: inline-block;
}

/*---------- HR ----------*/
#up_banner
{
  z-index: 999999;
  height: 3px;
  background-color: #000000;
  width: 80%;
}
/*---------- BANNER ----------*/
@import url(http://fonts.googleapis.com/css?family=Istok+Web);
@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}
body, figure { 
  margin: 0; background: #fff;
  font-family: Istok Web, sans-serif;
  font-weight: 100;
}
div#captioned-gallery { 
	margin: 0 auto;
  width: 100%; overflow: hidden; 
}
figure.slider { 
  position: relative; width: 500%;
  font-size: 0; animation: 30s slidy infinite; 
}
figure.slider figure { 
  width: 20%; height: auto;
  display: inline-block;  position: inherit; 
}
figure.slider img { width: 100%; height: auto; }
figure.slider figure figcaption { 
  position: absolute; bottom: 0;
  background: rgba(0,0,0,0.4);
  color: #fff; width: 100%;
  font-size: 2rem; padding: .6rem; 
}

figure.slider figure figcaption {
position: absolute; bottom: -3.5rem;
background: rgba(0,0,0,0.3);
color: #fff; width: 100%;
font-size: 2rem; padding: .6rem;
transition: .5s bottom;
}
figure.slider figure:hover figcaption { bottom: 0; }

@media screen and (max-width: 500px) {
figure.slider figure figcaption { font-size: 1.2rem; }
}


#degradado_int
{
  padding: 160px 0px;
  position: absolute;
  margin-top: -320px;
  width: 100%;
  background: rgba(255,255,255,0);
  background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 1%, rgba(255,255,255,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(66%, rgba(255,255,255,0)), color-stop(100%, rgba(255,255,255,1)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 66%, rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 1%, rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 1%, rgba(255,255,255,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 1%, rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
}

/*---------- NAV ----------*/
.active
{
  background-color: #fff !important;
  border: #000000 solid 2px !important;
}
.active2
{
  background-color: #fff !important;
  border: #000000 solid 1px !important;

 }

.active > a > div
{
  color: #000000;
}

.active2 > a > div
{
  color: #000000;
}


#submenu li
{
  width:100% !important;
  height: 30px !important;
}
#smvalores
{
	height: 50px !important;
}

#submenu
{
  display: none;
  margin-top: -13px !important;
  margin-left: -1px !important;
    font-size: 13px;
}

#menu ul li
{
  border-radius: 15px;
  position: relative;
  float: left;
  text-align: center;
  display: inline-block;
  list-style: none;
  background-color: #000000;
  color: #fff;
  border: solid 1px #fff;
  height: 60px;
  width: 19.5%;
}

#menu ul li div
{
  padding-top: 10px;
}

#menu ul li:hover
{
  background-color: #413A3A;
}

#menu ul a
{
  color: #fff;
  text-decoration: none;
}

#menu ul a:visited
{
  text-decoration: none;
}

#menu ul a ul a:visited
{
  text-decoration: none;
}

#menu ul
{
  padding: 0px;
  margin: 0 auto;
}

#menu
{
	width: 100%;
	margin-top:20px;
  vertical-align: top;
  display: inline-block;
}

/*---------- FONTELLO-NAV ----------*/

.texto-menu{
	color:#000000 !important;
	font-weight:bold !important;
      font-size: 13px;
}

.icon-home
{
  font-size: 2.2em;
}

.icon-quienes-somos
{
  font-size: 2.2em;

}

.icon-productos
{
  font-size: 2.2em;

}

#multimedia-menu
{
	font-size:2.2em;
}

.icon-contacto
{
  font-size: 2.2em;

}
/*---------- BOT-MENU ----------*/
#cont2-1
{
  vertical-align: top;
  display: inline-block;
  width: 64%;
}

#cont_descripcion
{
  margin-top: 20px;
  width: 99%;
  text-align: left;
  vertical-align: top;
  display: inline-block;
  font-size: 18px;
  text-align: justify;
 font-family: Istok Web, sans-serif;
  font-weight: 100;
}

#descripcion
{
  display: inline-block;
  vertical-align: top;
}

.bot_menu
{
  vertical-align: top;
  display: block;
  height: 2px;
  background-color: #000000;
}

/*---------- TABS-REDES ----------*/
#tabs
{
  margin-top:20px;
  padding: 0px;
  width: 340px;
}

#tabs-2, #tabs-1
{
  padding: 0px;
}

#redes_sociales
{
  margin-left:5px;
  display: inline-block;
}

.ui-widget-header
{
    background: #fff !important;
}

.ui-state-active
{
  text-shadow: 0px 4px rgba(0, 0, 0, 0.8) !important;
}
.ui-state-default
{
  width: 49.4%;
  font-size: 1.8em;
}

.ui-widget-content a
{
  color: #fff !important;
}

#ui-id-2
{
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  width: 63%;
  text-align: center;
  background: rgb(1, 167, 253);
}

#ui-id-2:hover
{
  border: none;
  background: rgba(1, 167, 253, .8);
}

#ui-id-1
{
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  width: 70%;
  text-align: center;
  background: rgb(59, 88, 155);
}

#ui-id-1:hover
{
  background: rgba(59, 88, 155, .8);
}

.ui-tabs .ui-tabs-nav li
{
  margin: 0px !important;
}

.ui-tabs .ui-tabs-nav
{
  border:none;
	padding:0px !important;
}

/*---------- MULTIMEDIA ----------*/
.icon-multimedia2:before
{
  content:'\e805';
}

#multimedia
{
	margin: 0 auto;
  border-radius:15px;
  margin-bottom: 30px;
  margin-top: 20px;
  padding: 5px;
  width: 240px;
  text-align: center;
  background-color: #000000;
  color: #fff;
   font-size: 1.8em;
}

.multi
{
  display: inline-block;
  vertical-align:top;
  margin-left: 0px;
  margin-right: 3px;
  width: 32.8%;
}

#multi1 img
{
  width: 100%;
  height: 200px;
}

#multi2 img
{
  width: 235px;
  height: 200px;
}

#multi3 img
{
  width: 235px;
  height: 200px;
}

#desc_multim
{
  padding: 5px 5px 5px 5px;
  margin: 0 auto;
  color: #000;
  text-align: justify;
}

/*---------- MODAL ----------*/

.modalDialog {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
  text-align: center;
}

.modalDialog:target {
  opacity:1;
  pointer-events: auto;
}

.modalDialog > div {
  width: 400px;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: #fff;
  background: -moz-linear-gradient(#fff, #999);
  background: -webkit-linear-gradient(#fff, #999);
  background: -o-linear-gradient(#fff, #999);
}

.close {
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: 16%;
  text-align: center;
  top: 3.5%;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #000000; }

#openModal img
{
  border: solid 2px #000000;
  height: 80%;
  margin-top: 2.5%;
}

#desc_modal
{
  color: #fff;
  background: rgba(0,0,0,0.8);
  padding: 20px;
}

/*---------- FOOTER ----------*/
#footer
{
  margin-top: 40px;
  vertical-align: bottom;
  color: #fff;
  font-size: 0.7em;
  text-align: center;
  width: 100%;
  height: auto;
  background-color: #000000;
}

#footer p
{
  padding: 10px;
  font-size:11px;
}

/*---------- QUIENES SOMOS ----------*/
.quienes_somos{
 margin-top: 20px;
 width: 99%;
 vertical-align: top;
 display: inline-block;
 font-size: 1.2em;
 text-align: justify;
 font-family: Istok Web, sans-serif;
 font-weight: 100;
  color: rgb(34, 34, 34);
  background-color: white;
}


/*---------- SERVICIOS ----------*/
#cuadricula
{
  margin-left: 2%;
  display: inline-block;
  width: 55%;
}

#cuadricula div img
{
  width: 100%;

 
}

#cuadricula div:hover
{
  box-shadow: 
}

#cuadricula div
{
  margin: 3px;
  display: inline-block;
  width: 31%;

   -webkit-box-shadow: 0px 0px 8px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 0px 8px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 0px 8px 0px rgba(50, 50, 50, 0.75)
}

#cuadricula div p, #cuadricula div h2
{
  display: none;
}

#maxvist img
{
  width: 100%;
  margin-bottom: 10px;
  margin-top: 3px;

  -webkit-box-shadow: 0px 0px 8px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 0px 8px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 0px 8px 0px rgba(50, 50, 50, 0.75)
}

#maxvist
{
  text-align: justify;
  vertical-align: top;
  display: inline-block;
  width: 40%;
}

#maxvist p
{
  margin: 0 auto;
  width: 95%;
}

#maxvist h2
{
	font-weight: bold;
	font-size:2em;
  margin: 0 auto;
  margin-bottom: 10px;
  text-align:center;
}

.contents
{
  margin-top: 50px;
}

#cuadrito {
 position: relative;
 box-sizing: border-box;
 transition: all 500ms ease;
}

#cuadrito:before 
{
 content:'';
 position: absolute;
 top: 0px;
 left: 0px;
 width: 100%;
 height: 0px;
 color: white;
 background: rgba(0,0,0,0.3);
 transition: all 0.5s ease;
  line-height: 130px;
  text-align: center;
}
#cuadrito:hover:before 
{
 height: 100%;
 
}

/*---------- NUEVO ----------*/
#cuadrito figcaption 
{
  padding: 5%;
  font-size: 0.7em;
  position: absolute;
  top: 0px;
  left: 0;
  height: 68%;
  width: 90%;
  color: #fff;
  text-align: center;
  padding-top: 40px;
    font-weight: 900;
    display:none;
}



/*------------------------------ MULTIMEDIA ------------------------------*/

/* Elastislide Style */

.elastislide-list {
  list-style-type: none;
  display: none;
}

.no-js .elastislide-list {
  display: block;
}

.elastislide-carousel ul li {
  min-width: 20px; /* minimum width of the image (min width + border) */
  
}

.elastislide-wrapper {
  position: relative;
  background-color: #fff;
  margin: 0 auto;
  min-height: 60px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.elastislide-wrapper.elastislide-loading {
  background-repeat: no-repeat;
  background-position: center center;
}

.elastislide-horizontal {
    padding: 10px 40px;
}

.elastislide-vertical {
  padding: 40px 10px;
}

.elastislide-carousel {
  overflow: hidden;
  position: relative;
}

.elastislide-carousel ul {
  position: relative;
  display: block;
  list-style-type: none;
  padding: 0;
  margin: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);
}

.elastislide-horizontal ul {
  white-space: nowrap;
}

.elastislide-carousel ul li {
  margin: 0;
  -webkit-backface-visibility: hidden;
  
}

.elastislide-horizontal ul li {
  height: 100%;
  display: inline-block;
    margin-left: 9px;
}

.elastislide-vertical ul li {
  display: block;
}

.elastislide-carousel ul li a {
  display: inline-block;
  width: 100%;
}

.elastislide-carousel ul li a img {
  display: block;
  border: 2px solid white;
  max-width: 100%;
}

/* Navigation Arrows */

.elastislide-wrapper nav span {
  position: absolute;
  background: #ddd url(images/nav.png) no-repeat 4px 3px;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  text-indent: -9000px;
  cursor: pointer;
  opacity: 0.8;
}

.elastislide-wrapper nav span:hover {
  opacity: 1.0
}

.elastislide-horizontal nav span {
  top: 50%;
  left: 10px;
  margin-top: -11px;
}

.elastislide-vertical nav span {
  top: 10px;
  left: 50%;
  margin-left: -11px;
  background-position: -17px 5px;
}

.elastislide-horizontal nav span.elastislide-next {
  right: 10px;
  left: auto;
  background-position: 4px -17px;
}

.elastislide-vertical nav span.elastislide-next {
  bottom: 10px;
  top: auto;
  background-position: -17px -18px;
}

/*------------------ Custom Elastislide Styling ------------------ */

.demo-1 .elastislide-horizontal {
  padding: 10px 37px;
  border-radius: 10px/90px;
  box-shadow: 
    0 1px 3px rgba(0, 0, 0, 0.1), 
    inset -2px 0 3px 2px rgba(255, 255, 255, 0.6), 
    inset 2px 0 3px 2px rgba(255, 255, 255, 0.6), 
    inset -10px 0 10px 1px rgba(155, 155, 155, 0.1), 
    inset 10px 0 10px 1px rgba(155, 155, 155, 0.1);
}

.demo-1 .elastislide-wrapper:before,
.demo-1 .elastislide-wrapper:after{
  content: '';
  position: absolute;
  z-index: -2;
  bottom: 15px;
  left:  20px;
  width: 50%;
  height: 20%;
  border-radius: 10px/90px;
  box-shadow: 0 15px 10px rgba(0,0,0,0.7);
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  transform: rotate(-3deg);
}

.demo-1 .elastislide-wrapper:after {
  right: 20px;
  left: auto;
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  transform: rotate(3deg);
}

#contenedor_sliders
{
  width: 99%;
  margin-top:50px;
}

#videos_boton
{
  margin: 15px 0px 15px 0px;
  font-size: 1.5em;
  background-color: #000000;
  color: #fff;
  text-align: center;
  display: inline-block;
  padding: 5px;
  width: 200px;
  border-radius: 10px;
}

#gmaps iframe
{
  margin-top: 15px;
}

#mqsomos
{
	position:relative;
	z-index:99;
}

/*---------- media ----------*/

@media (max-width: 1350px) {
	#redes_sociales{
	margin-left: 0.7%;
}	
	#cont2-1{
	width:65%;
	text-align:center;
}
	#contenido2{
	width:80%;
	margin: 0 auto;
}
	#menu{
	width:100%;
}
	#menu ul{
	margin-left:0%;
}
	#menu>ul>li{
	width:19.5%;
}
	#cont_descripcion
	{
	margin-left: 0%;
	width: 99%;
}
	#multimedia{
	margin: 10px auto;
}
	.multi{
	width:32.8%;
}
	.multi img{
	width:100% !important;
}
	.multi p{
	width:95% !important;
	height: 75px !important;
}

	#cont-multi{
	margin-left:0%;
}

	.quienes_somos{
	margin-left:0;
	width:98%;
}

	.contents{
	margin-left:0;
}

	#contenedor_sliders{
	margin-left:0;
	width:99%;
}
	#contenido_contacto{
	margin-left:0;
	width:99%;
}
	#gmaps iframe
	{
	width:100%;
}
}

@media (max-width: 1280px) {
	.multi{
	width:32.8%;
}
	.multi img{
	width:100% !important;
}
	.multi p{
	width: 95% !important;
	height: 75px !important;
}
	#redes_sociales{
	margin-left: 1%;
}
	#cont2-1{
	width:64%;
}
}

@media (max-width: 1253px) {
	#cont2-1{
	width:63%;
}
	.multi p{
	height: 88px !important;
}
}

@media (max-width: 1253px) {
	#cont2-1{
	width:62%;
}
	.multi img{
	height:150px !important;
}
	.multi iframe{
	height:150px !important;
}
}

@media (max-width: 1253px) {
	#cont2-1{
	width:61%;
}
	.multi{
	width:32.7%;
}
	#multimedia{
	font-size:1.5em;
}
#smvalores{
	padding: 0px 0 17px 0!important;
}
}

@media (max-width: 1155px){
	#cont2-1{
	width:60%;
}
	#logo_empresa{
	margin-right:25%;
}
}

@media (max-width: 1125px){
	#cont2-1{
	width:59%;
}
}

@media (max-width: 1098px){
	#cont2-1{
	width:58%;
}
}

@media (max-width: 1092px){
	#menu>ul>li{
	width:19.3% !important;
}
	.multi img{
	height:100px !important;
}
	.multi iframe{
	height:100px !important;
}
}

@media (max-width: 1092px){
	.multi p{
	height: 100px !important;
}
}

@media (max-width: 1092px){
	#cont2-1{
	width:57%;
}
	#menu ul li div{
	padding-top:8px;
}
	
	#submenu{
	margin-top:12px !important;
}

.icon-home-1
{
  font-size: 2.3em;
}

.icon-quienessomos
{
  font-size: 2.3em;
  margin-right: 10px;
}

.icon-servicios
{
  font-size: 2.3em;
  margin-right: 10px;
}

.icon-multimedia
{
  font-size: 2.3em;
  margin-right: 10px;
}

.icon-contactenos
{
  font-size: 2.3em;
  margin-right: 10px;
}
}

@media (max-width: 1052px){
	.multi{
	width:32.5%;
}
}

@media (max-width: 1046px){
	#cont2-1{
	width:56%;
}
}

@media (max-width: 1024px){
	#logo_empresa{
	margin-right:20%;
}
	#smvalores{
	padding: 0px 0 4px 0!important;
}

	.modalDialog img{
	width:90% !important;
}
}

@media (max-width: 1023px){
	#cont2-1{
	width:100%;
}
	#menu>ul>li{
	width:19.6% !important;
}
	#submenu{
	margin-top:17px !important;
}
	#menu ul li div{
	padding-top:10px;
}
	#multimedia{
	font-size:2em;
}
	.multi p{
	height:65px !important;
}
	.multi img{
	height:200px !important;
}
	.multi iframe{
	height:200px !important;
}
#redes_sociales{
	margin:0%;
	width:100%;
}
	#tabs{
	margin:10px auto;
}

.icon-home-1
{
  font-size: 2.6em;
}

.icon-quienessomos
{
  font-size: 2.6em;
  margin-right: 10px;
}

.icon-servicios
{
  font-size: 2.6em;
  margin-right: 10px;
}

.icon-multimedia
{
  font-size: 2.6em;
  margin-right: 10px;
}

.icon-contactenos
{
  font-size: 2.6em;
  margin-right: 10px;
}
}

@media (max-width: 899px){
	.multi p{
	height:75px !important;
}
	#logo_empresa{
	margin-right:10%;
}
}

@media (max-width: 846px){
	#menu>ul>li{
	width:19.5% !important;
}
}

@media (max-width: 814px){
	.multi p{
	height:87px !important;
}
	.multi img{
	height: 150px !important;
}
	.multi iframe{
	height: 150px !important;
}
	#logo_empresa{
	margin-right:5%;
}
}

@media (max-width: 807px){
	#smvalores{
	padding: 0px 0 17px 0!important;
}
}

@media (max-width: 722px){
	#multimedia{
	font-size:1.5em;
	width: 150px;
}
}

@media (max-width: 660px){
	#alcaldia_envigado{
	width: 35%;
}
}

@media (max-width: 637px){
	#menu>ul>li{
	width:19.4% !important;
}
	.multi img{
	height: 100px !important;
}
	.multi iframe{
	height: 100px !important;
}
	.multi p{
	display:none;
}
}

@media (max-width: 613px){
	#maxvist{
	display:block;
	width:90%;
	margin:0 auto
}
	#cuadricula{
	width:100%;
	margin-left:0;
	margin-top:25px;
}
	iframe{
	height:150px;
}
}

@media (max-width: 513px){
	#menu>ul>li{
	width:19.3% !important;
}
}

/**----------- menu movil ---------**/

.menu_select {
    width:97%;
    float:left;
    display:none;
    position:relative;
}

#selectme {
    width:80%;
    background-color:#000000;
    color:#ffffff;
    padding:10px;
    font-weight: bold;
    text-align:left;
    cursor:pointer;
    float:left;
}

ul#options {
    width:100%;
    float:left;
    margin:0px;
    padding:0px;
    display:none;
}

ul#options li {
    width:98%;
    float:left;

}

ul#options li a {
    color: #ffffff;
    padding:10px;
    font-weight: bold;
    text-align:left;
    text-decoration:none;
    cursor:pointer;
    margin-bottom:1px;
    width:100%;
    float:left;
}

ul#options li a:hover {
    color:#000000;
    background-color:#fff;
    text-decoration: none;
}

ul#options li:hover {

}

#arrow {
    position: absolute;
    right: 10px;
    top: 12px;
    cursor: pointer;
}

.down {
    background-image:url("img/plus-white.png");
    background-repeat:no-repeat;
    height:20px;
    width:20px;
}

.up {
    background-image:url("img/minus-white.png");
    background-repeat:no-repeat;
    height:20px; 
    width:20px;
}

@media only screen and (max-width: 650px) {
nav ul { 
	display: none; 
}

nav select { 
	display: inline-block; 
	width:100%; 
	background-color: #000000; 
	color:#FFF; 
	font-size: 16px; 
	font-weight: bold; 
}

nav .menu_select { 
	display: inline-block; 
	width:100%; 
	background-color: #000000; 
	color:#FFF; 
	font-size: 16px; 
	font-weight: bold; 
}

#menu ul li{
	height:auto;
	border:none;
	border-top:#fff solid 2px;
}
}

@media only screen and (max-width: 465px){
	.multi{
	width:100% !important;
}
	.multi img{
	height:auto !important;
}
	.multi iframe{
	height:200px !important;
}
	#contenido2{
	width:95%;
}
	#captioned-gallery{
	width:95% !important;
}
	#up_banner{
	width:95%;
}
	#logo_empresa{
	margin-right: 15%;
	width:46%;
}
	.multi p{
	display:block;
	height:45px !important;
	margin-bottom:10px !important;
}
	#logos{
	margin-top:0px;
}
	.contenedor{
	width:100%;
}
	.icon-multimedia{
	font-size:1.5em;
}
	#multimedia{
	width:240px;
}
	#captioned-gallery{
	height:auto !important;
}
}

.ginfo{
    margin-top: 50px;
}