﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterFiles/MasterAdmin.master" AutoEventWireup="true" CodeFile="AdminServicios.aspx.cs" Inherits="Paginas_AdminServicios" %>

<asp:Content ID="Content1" ContentPlaceHolderID="Title" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="head" Runat="Server">
    <style type="text/css">
        #contenido2 {
            text-align: center;
        }

        .rowcontrols > table {
            margin: 0 auto;
        }
    </style>
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="Body" Runat="Server">
    <div class="ginfo">
        <div class="formdatos">
            <div class="formcontrols">
                <br />
                <div class="divmodulo">
                    <div class="rowcontrols2" style="text-align: center;">
                        <h1><strong>Lista de Servicios</strong></h1>
                    </div>
                    <div class="rowcontrols">
                        <asp:Panel ID="pServicios" runat="server">
                            Nombre Producto:
                            <asp:TextBox ID="txtNomProd" runat="server" MaxLength="50" /><asp:RequiredFieldValidator ID="validaNomProd" runat="server" ErrorMessage="*" ValidationGroup="validaServicios" ControlToValidate="txtNomProd"></asp:RequiredFieldValidator><br />
                            URL Imagen:
                            <asp:TextBox ID="txtImgUrl" runat="server" MaxLength="100" /><asp:RequiredFieldValidator ID="validaImgUrl" runat="server" ErrorMessage="*" ValidationGroup="validaServicios" ControlToValidate="txtImgUrl"></asp:RequiredFieldValidator><br />
                            Descripción:
                            <asp:TextBox ID="txtDescripcion" TextMode="MultiLine" runat="server" MaxLength="100" /><asp:RequiredFieldValidator ID="validaDescripcion" runat="server" ErrorMessage="*" ValidationGroup="validaServicios" ControlToValidate="txtDescripcion"></asp:RequiredFieldValidator><br />
                            Activo:
                            <asp:RadioButtonList ID="rblActivo" runat="server" RepeatDirection="Horizontal" RepeatLayout="Flow">
                                <asp:ListItem Selected="True" Text="Si" />
                                <asp:ListItem Text="No" />
                            </asp:RadioButtonList>
                            <br />
                            <asp:Button ID="btnAddServicios" Text="Agregar" runat="server" OnClick="btnAddServicios_Click" CausesValidation="true" ValidationGroup="validaServicios" />
                        </asp:Panel>
                        <br />
                        <br />
                        <asp:GridView ID="gvServicios" runat="server" DataKeyNames="ID" OnRowDataBound="gvServicios_OnRowDataBound" OnRowEditing="gvServicios_OnRowEditing" OnRowCancelingEdit="gvServicios_OnRowCancelingEdit" OnRowUpdating="gvServicios_OnRowUpdating" OnRowDeleting="gvServicios_OnRowDeleting" EmptyDataText="No se encontraron datos." AutoGenerateEditButton="True" AutoGenerateDeleteButton="True" CellPadding="4" HorizontalAlign="Center" Width="90%" AllowPaging="True" ForeColor="#333333" GridLines="None" OnPageIndexChanging="gvServicios_PageIndexChanging">
                            <AlternatingRowStyle BackColor="White" />
                            <EditRowStyle BackColor="#2461BF" />
                            <FooterStyle BackColor="#507CD1" ForeColor="White" Font-Bold="True" />
                            <HeaderStyle BackColor="#507CD1" Font-Bold="True" ForeColor="White" />
                            <PagerStyle BackColor="#2461BF" ForeColor="White" HorizontalAlign="Center" />
                            <RowStyle BackColor="#EFF3FB" />
                            <SelectedRowStyle BackColor="#D1DDF1" Font-Bold="True" ForeColor="#333333" />
                            <SortedAscendingCellStyle BackColor="#F5F7FB" />
                            <SortedAscendingHeaderStyle BackColor="#6D95E1" />
                            <SortedDescendingCellStyle BackColor="#E9EBEF" />
                            <SortedDescendingHeaderStyle BackColor="#4870BE" />
                            
                        </asp:GridView>

                    </div>
                </div>
                <div class="divmodulo">
                    <div class="rowcontrols2" style="text-align: center;">
                        <h1><strong>Galería de imágenes</strong></h1>
                    </div>
                    <div class="rowcontrols">
                        <asp:FileUpload ID="fileImagen" runat="server" />&nbsp;<asp:Button ID="btnAddImage" Text="Agregar Imagen" runat="server" OnClick="btnAddImage_Click" CausesValidation="True" />
                        <br />
                        <br />
                        <asp:DataList ID="listImages" runat="server" HorizontalAlign="Center" SelectedIndex="0" ToolTip="Image list" RepeatDirection="Horizontal" RepeatLayout="Flow">
                            <ItemTemplate>
                                <div style="display: inline-block; margin: 20px;">
                                    <div>
                                        <a href="<%# Eval("Text") %>" target="_blank">
                                            <asp:Image ID="img" ImageUrl='<%# Eval("Text") %>' runat="server" ImageAlign="TextTop" Width="100px" />
                                        </a>
                                    </div>
                                    <div>
                                        <asp:LinkButton ID="lnkDelete" Text="Eliminar" CausesValidation="false" CommandArgument='<%# Eval("Value") %>' runat="server" OnClick="listImagesServer_Delete" />
                                    </div>
                                </div>
                            </ItemTemplate>
                        </asp:DataList>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <asp:Label ID="lblError" runat="server" />
</asp:Content>

