﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterFiles/PortalServicios.master" AutoEventWireup="true" CodeFile="Mision.aspx.cs" Inherits="Paginas_Mision" %>

<asp:Content ID="Content1" ContentPlaceHolderID="Title" runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="head" runat="Server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="Body" runat="Server">
   <div id="content_qsomos">
	<div id="mision" class="quienes_somos">
 		<asp:Panel ID="pMision" runat="server" style="margin-top: 50px;">
        		<asp:Label ID="lblMision" runat="server" />
    		</asp:Panel>
	</div>
</div>
</asp:Content>

