﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterFiles/PortalServicios.master" AutoEventWireup="true" CodeFile="QuienesSomos.aspx.cs" Inherits="Paginas_QuienesSomos" %>

<asp:Content ID="Content1" ContentPlaceHolderID="Title" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="Body" Runat="Server">
<div id="content_qsomos"> 
    <div id="q_somos" class="quienes_somos">
        <asp:Panel ID="pQuienesSomos" runat="server" style="margin-top: 50px;">
            <asp:Label ID="lblQuienesSomos" runat="server" />
        </asp:Panel>
    </div>
</div>
</asp:Content>

