﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterFiles/MasterAdmin.master" AutoEventWireup="true" CodeFile="AdminProductos.aspx.cs" Inherits="Paginas_AdminProductos" %>

<%@ Register Assembly="FreeTextBox" Namespace="FreeTextBoxControls" TagPrefix="FTB" %>

<asp:Content ID="Content1" ContentPlaceHolderID="Title" runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="head" runat="Server">
    <style type="text/css">
        #contenido2 {
            text-align: center;
        }

        .rowcontrols > table {
            margin: 0 auto;
        }
    </style>
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="Body" runat="Server">
    <div class="ginfo">
        <div class="formdatos">
            <div class="formcontrols">
                <br />
                <div class="divmodulo">
                    <div class="rowcontrols2" style="text-align: center;">
                        <h1><strong>Lista de Productos</strong></h1>
                    </div>
                    <div class="rowcontrols">
                        <asp:Panel ID="pProductos" runat="server">
                            Nombre Producto:
                            <asp:TextBox ID="txtNomProd" runat="server" MaxLength="50" /><asp:RequiredFieldValidator ID="validaNomProd" runat="server" ErrorMessage="*" ValidationGroup="validaProductos" ControlToValidate="txtNomProd"></asp:RequiredFieldValidator><br />
                            URL Imagen:
                            <asp:TextBox ID="txtImgUrl" runat="server" MaxLength="100" /><asp:RequiredFieldValidator ID="validaImgUrl" runat="server" ErrorMessage="*" ValidationGroup="validaProductos" ControlToValidate="txtImgUrl"></asp:RequiredFieldValidator><br />
                            Descripción:
                            <asp:TextBox ID="txtDescripcion" TextMode="MultiLine" runat="server" MaxLength="100" /><asp:RequiredFieldValidator ID="validaDescripcion" runat="server" ErrorMessage="*" ValidationGroup="validaProductos" ControlToValidate="txtDescripcion"></asp:RequiredFieldValidator><br />
                            Activo:
                            <asp:RadioButtonList ID="rblActivo" runat="server" RepeatDirection="Horizontal" RepeatLayout="Flow">
                                <asp:ListItem Selected="True" Text="Si" />
                                <asp:ListItem Text="No" />
                            </asp:RadioButtonList>
                            <br />
                            <asp:Button ID="btnAddProductos" Text="Agregar" runat="server" OnClick="btnAddProductos_Click" CausesValidation="true" ValidationGroup="validaProductos" />
                        </asp:Panel>
                        <br />
                        <br />
                        <asp:GridView ID="gvProductos" runat="server" DataKeyNames="ID" OnRowDataBound="gvProductos_OnRowDataBound" OnRowEditing="gvProductos_OnRowEditing" OnRowCancelingEdit="gvProductos_OnRowCancelingEdit" OnRowUpdating="gvProductos_OnRowUpdating" OnRowDeleting="gvProductos_OnRowDeleting" EmptyDataText="No se encontraron datos." AutoGenerateEditButton="True" AutoGenerateDeleteButton="True" BackColor="White" BorderColor="#3366CC" BorderStyle="None" BorderWidth="1px" CellPadding="4" HorizontalAlign="Center" Width="90%">
                            <FooterStyle BackColor="#99CCCC" ForeColor="#003399" />
                            <HeaderStyle BackColor="#003399" Font-Bold="True" ForeColor="#CCCCFF" />
                            <PagerStyle BackColor="#99CCCC" ForeColor="#003399" HorizontalAlign="Left" />
                            <RowStyle BackColor="White" ForeColor="#003399" />
                            <SelectedRowStyle BackColor="#009999" Font-Bold="True" ForeColor="#CCFF99" />
                            <SortedAscendingCellStyle BackColor="#EDF6F6" />
                            <SortedAscendingHeaderStyle BackColor="#0D4AC4" />
                            <SortedDescendingCellStyle BackColor="#D6DFDF" />
                            <SortedDescendingHeaderStyle BackColor="#002876" />
                        </asp:GridView>

                    </div>
                </div>
                <div class="divmodulo">
                    <div class="rowcontrols2" style="text-align: center;">
                        <h1><strong>Galería de imágenes</strong></h1>
                    </div>
                    <div class="rowcontrols">
                        <asp:FileUpload ID="fileImagen" runat="server" />&nbsp;<asp:Button ID="btnAddImage" Text="Agregar Imagen" runat="server" OnClick="btnAddImage_Click" CausesValidation="True" />
                        <br />
                        <br />
                        <asp:DataList ID="listImages" runat="server" HorizontalAlign="Center" SelectedIndex="0" ToolTip="Image list" RepeatDirection="Horizontal" RepeatLayout="Flow">
                            <ItemTemplate>
                                <div style="display: inline-block; margin: 20px;">
                                    <div>
                                        <a href="<%# Eval("Text") %>" target="_blank">
                                            <asp:Image ID="img" ImageUrl='<%# Eval("Text") %>' runat="server" ImageAlign="TextTop" Width="100px" />
                                        </a>
                                    </div>
                                    <div>
                                        <asp:LinkButton ID="lnkDelete" Text="Eliminar" CausesValidation="false" CommandArgument='<%# Eval("Value") %>' runat="server" OnClick="listImagesServer_Delete" />
                                    </div>
                                </div>
                            </ItemTemplate>
                        </asp:DataList>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <asp:Label ID="lblError" runat="server" />
</asp:Content>

