﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterFiles/PortalProductos.master" AutoEventWireup="true" CodeFile="Casos-de-Exito.aspx.cs" Inherits="Paginas_Casos_de_Exito" %>

<asp:Content ID="Content1" ContentPlaceHolderID="Title" runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="head" runat="Server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="Body" runat="Server">
    <asp:Panel ID="pCasosExito" runat="server" style="margin-top: 50px;">
        <asp:Label ID="lblCasosExito" runat="server" />
    </asp:Panel>
</asp:Content>

