﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterFiles/PortalProductos.master" AutoEventWireup="true" CodeFile="Valores.aspx.cs" Inherits="Paginas_Valores" %>

<asp:Content ID="Content1" ContentPlaceHolderID="Title" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="Body" Runat="Server">
    <div id="content_qsomos">
	<div id="valores" class="quienes_somos">
		<asp:Panel ID="pValores" runat="server" style="margin-top: 50px;">
		        <asp:Label ID="lblValores" runat="server" />
		</asp:Panel>
	</div>
</div>
</asp:Content>

