﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterFiles/PortalProductos.master" AutoEventWireup="true" CodeFile="Vision.aspx.cs" Inherits="Paginas_Vision" %>

<asp:Content ID="Content1" ContentPlaceHolderID="Title" runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="head" runat="Server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="Body" runat="Server">
   <div id="content_qsomos">
	<div id="vision" class="quienes_somos">
  		<asp:Panel ID="pVision" runat="server" style="margin-top: 50px;">
        		<asp:Label ID="lblVision" runat="server" />
    		</asp:Panel>
	</div>
</div>
</asp:Content>

