﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="PortalServicios.master.cs" Inherits="MasterFiles_PortalServicios" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
   
     <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="../MasterFiles/fancybox/lib/jquery.mousewheel-3.0.6.pack.js"></script>
    <link href="../MasterFiles/fancybox/source/jquery.fancybox.css" rel="stylesheet" media="screen"/>
    <script src="../MasterFiles/fancybox/source/jquery.fancybox.pack.js"></script>
    <link href="../MasterFiles/fancybox/source/helpers/jquery.fancybox-buttons.css" rel="stylesheet" type="text/css" media="screen" />
    <script src="../MasterFiles/fancybox/source/helpers/jquery.fancybox-buttons.js"></script>
    <script src="../MasterFiles/fancybox/source/helpers/jquery.fancybox-media.js"></script>
    <link href="../MasterFiles/fancybox/source/helpers/jquery.fancybox-thumbs.css" rel="stylesheet" />
    <script src="../MasterFiles/fancybox/source/helpers/jquery.fancybox-thumbs.js"></script>
   
    <link href="../MasterFiles/css/stylesheet.css" rel="stylesheet" />
    <link href="../MasterFiles/fontello/css/redes.css" rel="stylesheet" />
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" />

    <script>
        //SCRIPT GOOGLE ANALYTICS

    </script>
   
   
    <script>//plugin fb
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v2.3";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <script>//plugin tw
        !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + "://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");
    </script>
     <script src="../MasterFiles/js/home.js"></script>
     <script id="master1" src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
     <script id="master2" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.SPServices/2014.01/jquery.SPServices.min.js" type="text/javascript"></script>
        <script id="master3" src="../MasterFiles/js/adclass.js"></script>
        <script id="master4" src="../MasterFiles/js/modernizr.custom.17475.js"></script>
        <script>
            $(function () {
                $("#tabs").tabs({
                    hide: { effect: "fade", duration: 150 }
                });
            });
        </script>
        <script type="text/javascript">
            $(document).ready(function () {
                $('ul li:has(ul)').hover(
                   function (e) {
                       $(this).find('ul').slideDown();
                   },
                   function (e) {
                       $(this).find('ul').hide();
                   }
                );
            });
        </script>
        <script type="text/javascript" src="../MasterFiles/js/jquery.elastislide.js"></script>
        <script type="text/javascript">
            $('#carousel').elastislide();
            $('#carousel2').elastislide();
        </script>
        <!-- script nuevo modal -->
        <script type="text/javascript">
            $(document).ready(function () {
                $(".fancybox-button").fancybox({
                    prevEffect: 'none',
                    nextEffect: 'none',
                    closeBtn: false,
                    helpers: {
                        title: { type: 'inside' },
                        buttons: {}
                    }
                });
            });
		</script>

    <title>
             <asp:ContentPlaceHolder ID="Title" runat="server"></asp:ContentPlaceHolder>
    </title>
    <asp:ContentPlaceHolder id="head" runat="server">
    </asp:ContentPlaceHolder>
</head>

   
<body>
    <form id="form1" runat="server">
        <div id="contenido">
            <header id="logos">
                <a href="/Paginas/Home.aspx">
                    <img id="logo_empresa" src="../MasterFiles/img/logo_empresa.png" />
                </a>
                <img id="alcaldia_envigado" src="../MasterFiles/img/alcaldia_envigado.png" />
            </header>
            <hr id="up_banner" />
            <section id="contenido">
                <div id="captioned-gallery" style="display:none">
                    <figure class="slider">
                        <figure>
                                <asp:Image ID="imgBan1" runat="server" />
                            </figure>
                            <figure>
                                <asp:Image ID="imgBan2" runat="server" />
                            </figure>
                            <figure>
                                <asp:Image ID="imgBan3" runat="server" />
                            </figure>
                            <figure>
                                <asp:Image ID="imgBan11" runat="server" />
                            </figure>
                            <figure>
                                <asp:Image ID="imgBan22" runat="server" />
                            </figure>
                    </figure>
                </div>
                <div id="contenido2">
                    <div id="cont2-1">
                        <nav id="menu">
                            <ul class="nav">
                                <li id="minicio">
                                    <a href="/Paginas/Home.aspx">
                                        <div>Inicio
                                                    
                                                    
                                                    
                                                    
                                            <br />
                                            <i class="icon-home-1">
                                            </i>
                                        </div>
                                    </a>
                                </li>
                                <li id="mqsomos">
                                    <a href="/Paginas/QuienesSomos.aspx">
                                        <div>Quiénes Somos
                                                    
                                                    
                                                    
                                                    
                                            <br />
                                            <i class="icon-quienessomos">
                                            </i>
                                        </div>
                                    </a>
                                    <ul id="submenu">
                                        <li id="smmision">
                                            <a href="/Paginas/Mision.aspx">
                                                <div>Misión
                                                        
                                                        
                                                        
                                                        
                                                </div>
                                            </a>
                                        </li>
                                        <li id="smvision">
                                            <a href="/Paginas/Vision.aspx">
                                                <div>Visión
                                                        
                                                        
                                                        
                                                        
                                                </div>
                                            </a>
                                        </li>
                                        <li id="smvalores">
                                            <a href="/Paginas/Valores.aspx">
                                                <div>Objetivos
                                                        
                                                        
                                                        
                                                        
                                                </div>
                                            </a>
                                        </li>
                                        <li id="smcexitos">
                                            <a href="/Paginas/Casos-de-Exito.aspx">
                                                <div>Casos de Éxito
                                                        
                                                        
                                                        
                                                        
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li id="mservicios">
                                    <a href="/Paginas/Servicios.aspx">
                                        <div>Servicios
                                                    
                                                    
                                                    
                                                    
                                            <br />
                                            <i class="icon-servicios">
                                            </i>
                                        </div>
                                    </a>
                                </li>
                                <li id="mmultimedia">
                                    <a href="/Paginas/Multimedia.aspx">
                                        <div>Multimedia
                                                    
                                                    
                                                    
                                                    
                                            <br />
                                            <i class="icon-multimedia">
                                            </i>
                                        </div>
                                    </a>
                                </li>
                                <li id="mcontactenos">
                                    <a href="/Paginas/Contactenos.aspx">
                                        <div>Contáctenos
                                                    
                                                    
                                                    
                                                    
                                            <br />
                                            <i class="icon-contactenos">
                                            </i>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                            <div class="menu_select">
                                <div id="selectme">CATEGORIAS
                                        
                                        
                                        
                                </div>
                                <span id="arrow" class="down">
                                </span>
                                <ul id="options">
                                    <li>
                                        <a href="/Paginas/Home.aspx">Inicio
                                                
                                                
                                                
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/Paginas/QuienesSomos.aspx">Quienes Somos
                                                
                                                
                                                
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/Paginas/Servicios.aspx">Servicios
                                                
                                                
                                                
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/Paginas/Multimedia.aspx">Multimedia
                                                
                                                
                                                
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/Paginas/Contactenos.aspx">Contactenos
                                                
                                                
                                                
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </nav>


    <div>
        <asp:ContentPlaceHolder id="Body" runat="server">
            
        </asp:ContentPlaceHolder>
    </div>
                        </div>
                            <div id="redes_sociales">
                                <div id="tabs">
                                    <ul>
                                        <li>
                                            <a href="#tabs-1">
                                                <i class="icon-facebook">
                                                </i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#tabs-2">
                                                <i class="icon-twitter">
                                                </i>
                                            </a>
                                        </li>
                                    </ul>
                                    <div id="tabs-1">
                                        <div class="fb-page" data-href="" data-width="340" data-height="500" data-hide-cover="false" data-show-facepile="true" data-show-posts="true">
                                            <div class="fb-xfbml-parse-ignore">
                                                <blockquote cite="">
                                                    <a href="">Fundación Zoovida
                                                    
                                                    
                                                    
                                                    
                                                    </a>
                                                </blockquote>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="tabs-2">
                                       <!-- <a class="twitter-timeline" href="https://twitter.com/IdAnimalCo" data-widget-id="616622157427294208">Tweets por el @IdAnimalCo.
                                        
                                        
                                        </a> -->
                                        <strong>
                                        </strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <footer id="footer">
                    <p>Fundación Zoovida - Copyright © Todos los derechos reservados.
                        
                        
                        
                        
                        <br />



Carrera 33 No. 37 sur – 22 || Barrio Mesa || Envigado, Antioquia  
                                                                                                                        <br />




Proyecto financiado por la Secretaría de Desarrollo Económico del Municipio de Envigado.                                                                                                                        <br />
                        <br />




Desarrollo y diseño JEDUCA S.A.S - Tecnología &amp; Comunicaciones.                                                                                                    </p>
                </footer>

    </form>
</body>
</html>
