﻿#eltitulo{
	font-size:28px;
	text-align: center;
}
#thestate{
	font-size:25px;
}
#datossolicitud{
	border:#d8d8d8 1pt solid;
}
#productos{
	border:#d8d8d8 1pt solid;
}
#cotizaciones{
	border:#d8d8d8 1pt solid;	
	display:none;
}
.titulitos{
	font-weight:bold;
	font-size:18px;
	background:#e1eae5;
	text-align:center;
	border-top: #a6c2b2 1pt solid;
  	border-right: #a6c2b2 1pt solid;
  	border-bottom: #a6c2b2 1pt solid;
  	border-left: #a6c2b2 1pt solid;
}
.therow {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
}
.column1 {
    width: 20%;
    box-sizing: border-box;
    padding: 1%;
    border: 1px solid #dddddd;
    text-align: right;
    font-weight: bold;
}

.column2 {
    width: 80%;
    box-sizing: border-box;
    text-align:justify !important;
    padding: 1%;
    border: 1px solid #dddddd;
}
.campo{
	  border: 1pt solid #d8d8d8;
	  text-align:center;
}
.ellable{
	background-color:#f2f2f2;
	padding:2px;
	font-weight:bold;
}
.elcontrol{
	padding:4px;
	vertical-align:middle;
}
.contenedorflex{
	
	display: flex;
    justify-content: space-around;
    text-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-flex-flow: row wrap;
    -webkit-justify-content: space-around;
    flex-flow: row wrap;
}
.gridview {
    display: flex;
    justify-content: space-around;
    text-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-flex-flow: row wrap;
    -webkit-justify-content: space-around;
    flex-flow: row wrap;
}
.botones input {
    box-shadow: none;
    border-radius: 2px;
    color: black;
    background-color: #ababab;
    border-color: #ababab;
    font-weight: bold;
    cursor: pointer;
}

.botones input:hover {
        background-color: #ABAB98;
        border-color: #ABAB98;
        color: black;
    
}
		